
.create-wrap {
  font-size: 4rem;
  width: 70vh;
}

.create-text1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 30rem;
}

.create-menus {
  display: flex;
}

.create-menu {
  margin: 0 4rem;
}