<div>
  <p>ここがオークションのトップページ</p>
  <p>とりあえず一覧を表示</p>
  <br>
  <br>
  <br>

  <% @auctions.each do |auction| %>
    <li class=''>
      <%= link_to auction_path(auction.id) do %>
        <div class=''>
          <h1 class=''>
            <%= auction.title %>
          </h1>
          <div class=''>
            <span><%= auction.price %>円<br><%= auction.delivery_charge.name %></span>
          </div>
        </div>
      <% end %>
    </li><br><br><br>
  <% end %>
</div>