<%= stylesheet_link_tag 'search', :media => "all" %>
<%= stylesheet_link_tag 'bazaars/top', :media => "all" %>

<div class="bazaar-wrapper">

  <div class="bazaar-search">
    <%= render "search" %>
  </div>

  <div class="search-commit">
    <%= render "search_commit" %>
  </div>

</div>