<%= stylesheet_link_tag 'order_bazaars/show', :media => "all" %>

<div class="show-wrap">
  <div class="order-item">
    <%= render "item" %>
  </div>

  <div class="order-chat">
    <%= render "chat" %>
  </div>
</div>
<%= render 'shared/footer' %>