/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */


/* アプリケーション全体の設定 */
 * {
  box-sizing: border-box;
  list-style: none;
  background: #ffffff;
}

html,body{
  font-size:62.5%;
}

/* ヘッダー全体の配置・設定 */
.header-wrap {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.2rem black;
}


/* ヘッダー内の左側 */
.header-links {
  display: flex;
  justify-content: space-around;
  color: black;
  text-align: center;
}

.logo {
  margin: 0 3rem 0 0;
}

.top-lists {
  display: flex;
  margin-top: 10px;
  font-size: 2rem;
}

.top-lists a{
  text-decoration: none;
  color: black;
}

.top-list {
  margin-right: 30px;
}


/* ヘッダー内の右側 */

.header-menus {
  display: flex;
  justify-content: space-around;
  color: black;
  text-align: center;
}

.menu-lists {
  display: flex;
  margin-top: 10px;
  font-size: 2rem;
}

.menu-lists a{
  text-decoration: none;
  color: black;
}

.menu-list {
  margin-right: 30px;
}



/* フッターは後で */
.footer-wrap {
  width: 100vw;
  align-items: center;
  border-top: solid 0.2rem black;
}