
/* バザートップ下地 */
.bazaar-wrapper {
  display: flex;
  width: 100vw;
  font-size: 2rem;
}

.bazaar-search {
  width: 20%;
}

.bazaar-top {
  width: 80%;
}


/* searchアクションの左側 */
.search-wrap {
  width: 90%;
  border: 0.7rem double black;
  padding: 1rem;
  margin: 1rem;
}

.price-search {
  font-size: 1.5rem;
}


/* searchアクションの右側 */
.search-commit {
  width: 80vw;
}

.commit-wrap {
  width: 100%;
}


/* 検索結果の上側nav部分 */
.search-nav-container {
  width: 98%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.4rem black;
}

.commit-text {
  font-size: 5rem;
}

.search-nav-list {
  display: flex;
}

.search-nav {
  font-size: 2rem;
  margin: 4rem 3rem 0;
}


/* 検索画面の下側result部分 */
.search-result-container {
  width: 98%;
}

.search-result {
  border-bottom: solid 0.3rem black;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  background:rgba(155,252,255,0.2);
}

.result-table {
  margin-left: 2rem;
}

.result-table th{
  height: 70%;
  background:rgba(155,252,255,0.2);
}

.result-table td{
  width: 600px;
  background:rgba(155,252,255,0.2);
}

.result-title{
  width: 80%;
  font-size: 4rem;
}

.result-title {
  background:rgba(155,252,255,0);
}